default_language_version:
    python: python3.14

repos:
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
      - id: black
        args: [--check]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.1
    hooks:
    - id: bandit
  
  - repo: https://github.com/facebook/usort
    rev: v1.1.0
    hooks:
      - id: usort
        args: ["check"]
